<div class="pge">
  <div>
    <h1 class="p-3 text-center title">
      <span class="title-word title-word-1">Hello</span>
      <span class="title-word title-word-2">, </span>
      <span class="title-word title-word-3">visitor</span>
      <span class="title-word title-word-4">👋🏽</span>
    </h1>
  </div>
  <div class="d flex p2 mt-3 text-center">
    <p>Welcome to my portfolio</p>
  </div>
  <div class="box mt-5"><h6 class="mt-1">Contact me for more</h6></div>
  <div>
    <h1 class="p-3 text-center">Services</h1>
  </div>
  <div class="pdiv">
    <div class="wrapper m-3">
      <h6 class="text-center mt-1">Front-End</h6>
      <p class="m-1">Angular 13+</p>
      <p class="m-1">Bootstrap</p>
      <p class="m-1">HTML5 & CSS3</p>
    </div>
    <div class="wrapper m-3">
      <h6 class="text-center mt-1">Back-end</h6>
      <p class="m-1">Spring Boot</p>
      <p class="m-1">ASP.NET</p>
      <p class="m-1">Express.js</p>
    </div>
    <div class="wrapper m-3">
      <h6 class="text-center mt-1">Mobile</h6>
      <p class="m-1">Android (Kotlin)</p>
      <p class="m-1">React Native</p>
      <p class="m-1">Flutter</p>
    </div>
  </div>
</div>
